# Polynomial Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [4]:
dataset=pd.read_excel("houseprice.xlsx")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
dataset.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Polynomial Regression model on the Training set

In [6]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(X_train)
regressor = LinearRegression()
regressor.fit(X_poly, y_train)

LinearRegression()

## Predicting the Test set results

In [7]:
y_pred = regressor.predict(poly_reg.transform(X_test))
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 3.37e+01  4.53e+01]
 [ 4.54e-01  1.44e+01]
 [ 2.11e-01  4.60e+01]
 [ 4.89e+01  1.56e+01]
 [ 5.91e+01  5.02e+01]
 [ 4.42e+01  3.81e+01]
 [ 3.98e+01  4.85e+01]
 [ 3.74e+01  4.14e+01]
 [ 8.92e+01  5.16e+01]
 [ 4.79e+01  4.01e+01]
 [ 3.81e+01  4.20e+01]
 [ 2.84e+01  4.24e+01]
 [ 4.29e+01  2.85e+01]
 [ 5.41e+01  3.91e+01]
 [ 7.82e+01  5.37e+01]
 [ 4.31e+01  3.68e+01]
 [ 1.39e+01  4.06e+01]
 [-6.08e+00  5.52e+01]
 [ 4.37e+01  3.93e+01]
 [ 3.33e+01  4.43e+01]
 [ 2.03e+01  5.35e+01]
 [ 4.38e+01  2.53e+01]
 [ 9.11e+01  2.28e+01]
 [ 4.89e+01  5.17e+01]
 [ 5.90e+01  4.55e+01]
 [ 3.67e+01  3.44e+01]
 [ 4.10e+01  3.16e+01]
 [ 1.99e+01  2.59e+01]
 [ 5.02e+01  4.95e+01]
 [ 4.51e+01  2.47e+01]
 [ 1.06e+01  5.17e+01]
 [ 6.49e+00  2.97e+01]
 [ 5.28e+01  4.54e+01]
 [ 6.68e+01  5.05e+01]
 [ 6.05e+01  2.65e+01]
 [ 3.73e+01  3.01e+01]
 [-4.87e+00  4.61e+01]
 [ 3.68e+01  2.89e+01]
 [ 4.58e+01  5.44e+01]
 [ 1.08e+03  1.50e+01]
 [ 6.21e+01  4.49e+01]
 [ 5.14e+01  2.98e+01]
 [ 1.51e+01  2.36e+01]
 [ 3.35e+01  4.80e+01]
 [ 5.70e+00  1.67e+01]
 [ 1.95e+01  4.09e+01]
 [ 6.28e+01  4.02e+01]
 [-4.27e+01  1.29e+01]
 [ 2.33e+01  2.13e+01]
 [ 6.86e+01  6.21e+01]
 [ 6.11e+01  6.39e+01]
 [ 7.54e+01  4.03e+01]
 [ 4.25e+01  4.22e+01]
 [ 4.47e+01  1.91e+01]
 [ 1.71e+01  2.84e+01]
 [ 1.96e+01  2.85e+01]
 [ 6.68e+01  6.07e+01]
 [ 3.61e+01  3.75e+01]
 [ 4.10e+01  3.93e+01]
 [ 1.62e+01  2.88e+01]
 [ 1.00e+02  4.23e+01]
 [ 3.18e+01  4.43e+01]
 [ 3.86e+01  4.26e+01]
 [ 3.96e+01  5.74e+01]
 [ 6.39e+01  4.22e+01]
 [ 2.59e+01  2.57e+01]
 [-6.43e+01  1.32e+01]
 [-2.86e+01  2.70e+01]
 [ 8.24e+01  5.62e+01]
 [ 4.79e+01  3.83e+01]
 [ 1.76e+01  2.08e+01]
 [ 4.58e+01  4.31e+01]
 [ 5.69e+01  7.83e+01]
 [ 5.85e+01  2.09e+01]
 [ 1.81e+01  3.25e+01]
 [ 3.09e+01  3.34e+01]
 [-1.24e+01  3.21e+01]
 [ 7.91e+01  1.92e+01]
 [ 5.40e+01  5.30e+01]
 [ 3.49e+01  3.82e+01]
 [ 4.31e+01  4.67e+01]
 [ 2.54e+01  2.46e+01]
 [ 2.23e+01  3.62e+01]]

## Evaluating the Model Performance

In [8]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-80.9178663969019